<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>

</head>
<body>

</body>



<script
	src="https://d2ur3inljr7jwd.cloudfront.net/individeo/prod/edge/js/smartEmbed.js"
	data-bp-individeo-data='{"clientName1":"Yopi 1","clientName2":"Yopi 2","componentDescription":"My component description","policyNumber":"My policy number","lifeAssured":"My life assured","dateOfBirth":"My date of birth","sumAssured":0,"premiumAmount":0,"paymentMethod":"My payment method","codeFrequency":"My code frequency","codePaymentMethod":"My code payment"}'
	data-bp-attachment-code="YBDKhuSmKsJkneuqQ-840" data-bp-lang="en-CA"></script>


</html>